body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
    color: #333;
}

.compra-container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.compra-title {
    font-size: 28px;
    font-weight: bold;
    color: #4a148c;
    margin-bottom: 20px;
    text-align: left;
}

.compra-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 40px;
}

.compra-card {
    background-color: #fff;
    border: 2px solid #7e57c2;
    padding: 20px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 230px;
    height: 250px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    border-radius: 0;
}

    .compra-card h3 {
        margin-top: 10px;
        font-size: 20px;
        color: #4a148c;
    }

.compra-button {
    background-color: #7e57c2;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 0;
    font-size: 16px;
    width: 150px;
    position: absolute;
    bottom: -22px;
    left: 50%;
    transform: translateX(-50%);
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

    .compra-button:hover {
        background-color: #6a1b9a;
    }

.compra-card .separator {
    width: 80%;
    height: 1px;
    background-color: rgba(126, 87, 194, 0.3);
    margin: 10px 0;
}

.compra-card p {
    font-size: 16px;
    color: #555;
    line-height: 1.4;
}

    .compra-card p:first-of-type {
        margin-bottom: 5px;
    }

    .compra-card p:last-of-type {
        margin-bottom: 25px;
    }

.compra-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}
