* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

html, body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}

.error-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 40px;
}

.error-content {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

    .error-content img {
        max-width: 600px;
        height: auto;
        margin-right: 30px;
    }

.text-content {
    text-align: left;
}

    .text-content h1 {
        font-size: 36px;
        color: #7e57c2;
        margin-bottom: 20px;
    }

    .text-content p {
        font-size: 18px;
        color: #4a148c;
        margin-bottom: 30px;
    }

    .text-content .button {
        background-color: #7e57c2;
        color: white;
        padding: 10px 20px;
        text-decoration: none;
        border-radius: 0px;
        font-weight: bold;
        transition: background-color 0.3s ease;
    }

        .text-content .button:hover {
            background-color: #6a1b9a;
        }