#bitacora-container {
    background-color: #ffffff;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 1000px;
    width: 100%;
    margin: auto;
}

    #bitacora-container h2 {
        margin-bottom: 20px;
        font-size: 24px;
        color: #4a148c;
        text-align: center;
    }

.filter-container {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

    .filter-container .form-group {
        display: flex;
        flex-direction: column;
        margin-right: 20px;
        flex: 1;
    }

        .filter-container .form-group label {
            color: #5f6368;
            font-weight: bold;
            margin-bottom: 5px;
        }

    .filter-container .filter-select,
    .filter-container .filter-input {
        padding: 8px;
        background-color: #f2e8ff;
        color: #333;
        border: 1px solid #cfd8dc;
        border-radius: 4px;
    }

        .filter-container .filter-input.date-input {
            font-family: 'Arial', sans-serif;
            background-color: #f2e8ff;
            border: 1px solid #cfd8dc;
            border-radius: 4px;
            font-size: 16px;
        }

        .filter-container .filter-input[type="date"],
        .filter-container .date-input[type="date"] {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            background-color: #f2e8ff;
            color: #333;
            border: 1px solid #cfd8dc;
            padding: 8px;
            border-radius: 4px;
            font-family: 'Arial', sans-serif;
            font-size: 16px;
        }

            .filter-container .filter-input[type="date"]::-webkit-calendar-picker-indicator,
            .filter-container .date-input[type="date"]::-webkit-calendar-picker-indicator {
                filter: invert(0.6);
            }

@-moz-document url-prefix() {
    .filter-container .filter-input[type="date"],
    .filter-container .date-input[type="date"] {
        background-color: #f2e8ff;
        color: #333;
        padding: 8px;
    }
}

.filter-container .submit-btn {
    padding: 10px 15px;
    background-color: #7e57c2;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-self: flex-end;
    transition: background-color 0.3s ease;
}

    .filter-container .submit-btn:hover {
        background-color: #6a1b9a;
    }

#tablaBitacora {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 15px;
    color: #333;
}

    #tablaBitacora th,
    #tablaBitacora td {
        padding: 10px;
        text-align: left;
    }

    #tablaBitacora th {
        background-color: #7e57c2;
        color: white;
    }

    #tablaBitacora td {
        background-color: #f2e8ff;
        border: 1px solid #7e57c2;
    }

.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

    .pagination .submit-btn {
        padding: 10px;
        background-color: #7e57c2;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

        .pagination .submit-btn:hover {
            background-color: #6a1b9a;
        }

    .pagination #paginaActual {
        color: #333;
        font-size: 16px;
    }