#familias-container {
    background-color: #ffffff;
    padding: 20px 30px;
    border-radius: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 100%;
    margin: auto;
}

    #familias-container h2 {
        margin-bottom: 20px;
        font-size: 24px;
        color: #4a148c;
        text-align: center;
    }

    #familias-container table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 15px;
        color: #333;
    }

    #familias-container table, th, td {
        border: 1px solid #7e57c2;
    }

    #familias-container th, td {
        padding: 10px;
        text-align: left;
    }

    #familias-container th {
        background-color: #7e57c2;
        color: white;
    }

    #familias-container td {
        background-color: #f2e8ff;
        color: #333;
    }

    #familias-container .submit-btn {
        width: 100%;
        padding: 10px;
        background-color: #7e57c2;
        color: #fff;
        border: none;
        border-radius: 0;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        margin-top: 10px;
    }

        #familias-container .submit-btn:hover {
            background-color: #6a1b9a;
        }

#alta-familia-container,
#asignar-familias-container,
#asignar-patentes-container,
#desasignar-familias-container,
#desasignar-patentes-container,
#modificar-familia-container {
    background-color: #ffffff;
    padding: 20px 30px;
    border-radius: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 100%;
    margin: auto;
}

    #alta-familia-container h2,
    #alta-familia-container h3,
    #asignar-familias-container h2,
    #asignar-familias-container h3,
    #asignar-patentes-container h2,
    #asignar-patentes-container h3,
    #desasignar-familias-container h2,
    #desasignar-familias-container h3,
    #desasignar-patentes-container h2,
    #desasignar-patentes-container h3,
    #modificar-familia-container h2,
    #modificar-familia-container h3 {
        color: #4a148c;
        margin-bottom: 15px;
    }

    #alta-familia-container .form-group input[type="text"],
    #asignar-familias-container .form-group input[type="text"],
    #asignar-familias-container .form-group select,
    #asignar-patentes-container .form-group input[type="text"],
    #asignar-patentes-container .form-group select,
    #desasignar-familias-container .form-group input[type="text"],
    #desasignar-familias-container .form-group select,
    #desasignar-patentes-container .form-group input[type="text"],
    #desasignar-patentes-container .form-group select,
    #modificar-familia-container .form-group input[type="text"] {
        width: 100%;
        padding: 10px;
        background-color: #f2e8ff;
        color: #333;
        border: 1px solid #cfd8dc;
        border-radius: 0;
        font-size: 16px;
        margin-bottom: 15px;
    }

    #alta-familia-container .submit-btn,
    #asignar-familias-container .submit-btn,
    #asignar-patentes-container .submit-btn,
    #desasignar-familias-container .submit-btn,
    #desasignar-patentes-container .submit-btn,
    #modificar-familia-container .submit-btn {
        width: 100%;
        padding: 10px;
        background-color: #7e57c2;
        color: #fff;
        border: none;
        border-radius: 0;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        margin-top: 10px;
    }

    #alta-familia-container table,
    #asignar-familias-container table,
    #asignar-patentes-container table,
    #desasignar-familias-container table,
    #desasignar-patentes-container table,
    #modificar-familia-container table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
        color: #333;
    }

    #alta-familia-container th,
    #alta-familia-container td,
    #asignar-familias-container th,
    #asignar-familias-container td,
    #asignar-patentes-container th,
    #asignar-patentes-container td,
    #desasignar-familias-container th,
    #desasignar-familias-container td,
    #desasignar-patentes-container th,
    #desasignar-patentes-container td,
    #modificar-familia-container th,
    #modificar-familia-container td {
        padding: 10px;
        text-align: left;
        border: 1px solid #7e57c2;
    }

    #alta-familia-container th,
    #asignar-familias-container th,
    #asignar-patentes-container th,
    #desasignar-familias-container th,
    #desasignar-patentes-container th,
    #modificar-familia-container th {
        background-color: #7e57c2;
        color: white;
    }

    #alta-familia-container td,
    #asignar-familias-container td,
    #asignar-patentes-container td,
    #desasignar-familias-container td,
    #desasignar-patentes-container td,
    #modificar-familia-container td {
        background-color: #f2e8ff;
    }

input[type="radio"],
input[type="checkbox"] {
    appearance: none;
    background-color: #f2e8ff;
    margin: 0;
    font: inherit;
    color: #7e57c2;
    width: 18px;
    height: 18px;
    border: 1px solid #7e57c2;
    border-radius: 0;
    display: grid;
    place-content: center;
    cursor: pointer;
}

    input[type="radio"]::before,
    input[type="checkbox"]::before {
        content: "";
        width: 12px;
        height: 12px;
        box-shadow: inset 1em 1em #7e57c2;
        transform: scale(0);
        transition: transform 0.2s ease-in-out;
        background-color: #ffffff;
    }

    input[type="radio"]:checked::before,
    input[type="checkbox"]:checked::before {
        transform: scale(1);
    }

    input[type="checkbox"]:checked::before {
        width: 10px;
        height: 10px;
    }
