body {
    font-family: 'Roboto', sans-serif;
    background-color: #181a1b;
    color: #e4e6eb;
}

.navbar {
    background-color: #86e589 !important;
}

.navbar-nav .nav-item {
    margin-right: 15px;
}

.navbar-brand, .nav-link {
    color: #333 !important;
    padding-bottom: 5px;
    font-weight: bold !important;
    font-size: 16px;
}

.dropdown-menu {
    background-color: #A8D5BA;
    margin-top: 5px;
    border-radius: 5px;
    padding: 10px 0;
}

.dropdown-item {
    color: #333 !important;
    padding: 10px 20px;
    font-weight: bold !important;
}

    .dropdown-item:hover, .dropdown-item:focus {
        background-color: #86C29C !important;
        color: #333 !important;
    }

    .dropdown-item:active {
        background-color: #A8D5BA !important;
        color: #333 !important;
    }

.navbar-toggler {
    border: none;
}

.navbar .nav-link {
    color: #333 !important;
}

    .navbar .nav-link:hover {
        color: #000 !important;
    }

footer {
    color: #e4e6eb;
    text-align: center;
}