#container-password {
    background-color: #fff;
    padding: 25px 35px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    max-width: 500px;
    width: 100%;
    margin: 50px auto;
    font-family: 'Arial', sans-serif;
}

    #container-password h2 {
        font-size: 26px;
        color: #4a148c;
        text-align: center;
        margin-bottom: 30px;
    }

.form-group-password {
    margin-bottom: 20px;
}

    .form-group-password label {
        display: block;
        font-size: 16px;
        color: #555;
        margin-bottom: 8px;
    }

    .form-group-password input[type="password"] {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #f2e8ff;
        color: #333;
        font-size: 15px;
        transition: border-color 0.3s ease;
    }

        .form-group-password input[type="password"]:focus {
            border-color: #7e57c2;
            outline: none;
        }

.submit-btn-password {
    width: 100%;
    padding: 12px;
    background-color: #7e57c2;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

    .submit-btn-password:hover {
        background-color: #6a1b9a;
    }
